.arrow-back {
  z-index: 100;
  position: relative;
  transition: 0.3s;
  margin: 0;
  right: -40;
  top: 0px;
}
.arrow-back:hover {
  opacity: 0.5;
  transition: 0.3s;
}
.arrow-back-auth {
  top: -132px;
}
html,
body {
  height: 100%;
  color: #4ca64f;
}
body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(../../static/img/register-cabbage.jpg);
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: #f7f7f7;
  outline: none;
}
.form-signin label {
  color: grey;
}
.form-signin input:focus {
  border-color: #4ca64f;
  box-shadow: 0 0 15px #4ca64f !important;
}
.form-signin input:focus ~ label {
  color: #4ca64f;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn-submit {
  border: 2px solid #6abb6d;
  border-radius: 5px;
  color: #f7f7f7;
  background-color: #4ca64f;
}
