* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.body {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}
.body-bg-apples {
  background-image: url(../img/register-apples.jpg);
}
.body-bg-avocados {
  background-image: url(../img/register-avocados.jpg);
}
.body-bg-cabbages {
  background-image: url(../img/register-cabbage.jpg);
}
.body-bg-limes {
  background-image: url(../img/register-limes.jpg);
}
.body-bg-salad {
  background-image: url(../img/register-salad.jpg);
}
.container {
  margin-left: -30px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-back {
  z-index: 9;
  position: relative;
  transition: 0.3s;
  margin: 0;
  right: -40;
  top: -202px;
}
.arrow-back:hover {
  opacity: 0.5;
  transition: 0.3s;
}
.arrow-back-auth {
  top: -132px;
}
.form {
  background-color: #fff;
  height: 400px;
  width: 300px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;
  font-family: Gilroy, sans-serif;
  letter-spacing: 1px;
  z-index: 1;
}
.form-title {
  text-align: center;
  margin-bottom: 32px;
  font-weight: 600;
  color: #7fbb48;
}
.form-auth {
  height: 250px;
}
.form-group {
  position: relative;
  margin-bottom: 32px;
}
.form-input {
  font-family: Gilroy, sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  width: 100%;
  padding-bottom: 10px;
  border: 0;
  border-bottom: 2px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
}
.form-input:focus {
  border-bottom: 2px solid grey;
}
.form-label {
  position: absolute;
  top: 0;
  z-index: -1;
  color: #9e9e9e;
  font-weight: 600;
  transition: 0.3s;
}
.form-button {
  font-weight: 600;
  margin: auto;
  padding: 10px 10px;
  border: 2px solid #99c96d;
  border-radius: 5px;
  color: white;
  background-color: #7fbb48;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.form-button:focus,
.form-button-hover {
  background-color: #99c96d;
  border: 2px solid #b3d792;
  transition: 0.3s;
}
.form-button-block {
  display: flex;
  justify-content: center;
}
.form-input,
.form-button {
  font-family: Gilroy, sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
}
.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown) ~ .form-label {
  top: -18px;
  font-size: 12px;
  color: #7fbb48;
}
@media screen and (max-width: 450px) {
  .form {
    width: 100%;
  }
}
