*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
  font-weight: 600; 
}

.sub-header{
    padding-left:20px;
    color:#888;
}

.base{
    margin-bottom: 2rem;
}
nav{
    background: #463940;
}


.form{
	margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #ffcc00;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

main{
<<<<<<< HEAD
    background:#0B172A;
}

.sidebar{
   

=======
    background:#565c62;
>>>>>>> ae2a5d5 (Sidebar card)
}
.card-head{
    /*background: #abd2ea;*/
    background: #BC4123;
    text-align: center;
    height: 50px;
    font-size: 20px;
    color: #24476e;
}
.main-card-head{
    background: #BC4123;
    text-align: center;
    height: 50px;
    font-size: 20px;
    color: #24476e;
}



.sidebar{
   

}
.card-head{
    /*background: #abd2ea;*/
    text-align: center;
    height: 50px;
    font-size: 20px;
    color: #24476e;
}
.main-card-head{
    /*background: #3887b8;*/
    text-align: center;
    height: 50px;
    font-size: 20px;
    color: #24476e;
}



