{% extends "calculator_template.html" %}

{% block calculator_content %}

        	{{ form.hidden_tag() }}
	
        	<p>
        	    {{ form.wrists.label }}<br>
        	    {{ form.wrists(class="form-control", type="number", max="30", min="10") }}<br>
        	    {% for error in form.wrists.errors %}
        	        <div class="alert alert-danger" role="alert">
        	            {{ error }}
        	        </div>
        	    {% endfor %}
        	</p>

            <p>
              {{ form.gender.label }}<br>
              {{ form.gender(class="form-control form-field-gender", type="radio") }}<br>
              {% for error in form.gender.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endfor %}
          </p>
	

	
    		
        	<p>{{ form.submit(type="submit", class="btn calculator-btn") }}</p>
	
       		{% if form.validate_on_submit():%}
  
<p class="calculator-result">Ваш тип телосложения: <strong class="calculator-result-value">{{body_type}}</strong></p>


       		{% endif %}

        
    

{% endblock %}

