{% extends "calculator_template.html" %}

{% block calculator_content %}

  {{ form.hidden_tag() }}
	<div class="row">
    <div class="col-md-7 mr-auto">
        	<p>
        	    {{ form.wrists.label }}<br>
        	    {{ form.wrists(class="form-control input", type="number", max="30", min="10") }}<br>
        	    {% for error in form.wrists.errors %}
        	        <div class="alert alert-danger" role="alert">
        	            {{ error }}
        	        </div>
        	    {% endfor %}
        	</p>

            <p>
              {{ form.gender.label }}<br>
              {{ form.gender(class="form-control form-field-gender input", type="radio") }}<br>
              {% for error in form.gender.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endfor %}
          </p>
	

	
    		
        	<p>{{ form.submit(type="submit", class="btn calculator-btn") }}</p>
	 </div>
    {% if form.validate_on_submit():%}
      <div class="col-md-4 m-auto calculator-result-block">
        <p class="calculator-result">Ваш тип телосложения: <strong class="calculator-result-value">{{body_type}}</strong></p>
      </div>
    {% endif %}

        
    

{% endblock %}

