{% extends "base.html" %}

{% block content %}
   	<div class="card border-primary" style="width: 100%;">
        <div class="main-card-head bg-primary">{{ current_user.name }}</div>
          	<h2 class='display-4 text-center mb-5 strong header'>Калькулятор</h2>

    	<form action="" method="post">
        {{ form.hidden_tag() }}

        <p>
            {{ form.height.label }}<br>
            {{ form.height(class="form-control", type="number") }}<br>
            {% for error in form.height.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        <p>
            {{ form.weight.label }}<br>
            {{ form.weight(class="form-control", type="number") }}<br>
            {% for error in form.weight.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

    
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

    </form>
          
    </div>
        
    

{% endblock %}

