{% extends "calculator_template.html" %}

{% block calculator_content %}

        	{{ form.hidden_tag() }}
	
        
	
        	<p>
        	    {{ form.weight.label }}<br>
        	    {{ form.weight(class="form-control", type="number", min='20', max='500')}}<br>
        	    {% for error in form.weight.errors %}
        	        <div class="alert alert-danger" role="alert">
        	            {{ error }}
        	        </div>
        	    {% endfor %}
        	</p>

          <p>
              {{ form.height.label }}<br>
              {{ form.height(class="form-control", type="number", min='60', max='250')}}<br>
              {% for error in form.height.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endfor %}
          </p>

          <p>
              {{ form.age.label }}<br>
              {{ form.age(class="form-control", type="number", min='14', max='130') }}<br>
              {% for error in form.age.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endfor %}
          </p>

          <p>
              {{ form.gender.label }}<br>
              {{ form.gender(class="form-control", type="string") }}<br>
              {% for error in form.gender.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endfor %}
          </p>

          <p>
              {{ form.activity.label }}<br>
              {{ form.activity(class="form-control", type="select") }}<br>
              {% for error in form.activity.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endfor %}
          </p>
	
    		
        	<p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
	
       		{% if form.validate_on_submit():%}
       			<p>Ваша норма калорий равна {{calories_norm}} ккал</p>
       			
       		{% endif %}

        
    

{% endblock %}

