{% extends "calculator_template.html" %}

{% block calculator_content %}

        	{{ form.hidden_tag() }}
	
        	<p>
        	    {{ form.age.label }}<br>
        	    {{ form.age(class="form-control", type="number", min='14', max='130') }}<br>
        	    {% for error in form.age.errors %}
        	        <div class="alert alert-danger" role="alert">
        	            {{ error }}
        	        </div>
        	    {% endfor %}
        	</p>
	

	
    		
        	<p>{{ form.submit(type="submit", class="btn calculator-btn") }}</p>
	
       		{% if form.validate_on_submit():%}
  
            <p class="calculator-result">Предельная частота сердечных сокращений: <strong class="calculator-result-value">{{MHR}}</strong> ударов/мин</p>
			<p class="calculator-result">Тренировочный диапазон от <strong class="calculator-result-value">{{THR_min}}</strong> до <strong class="calculator-result-value">{{THR_max}}</strong></p>


       		{% endif %}

        
    

{% endblock %}

