{% extends "base.html" %}

{% block content %}


  {%if body_type == 'Эктоморф'%}
      {% set body_type_index = 0 %}
  {%elif body_type == 'Мезоморф'%}
      {% set body_type_index = 1 %}
  {% else %}
      {% set body_type_index = 2 %}
  {% endif %}

  {% set proteins_fats_carbs_list = ['25/20/55', '40/20/40', '45/15/40'] %}
  <form action="" method="post" class='col-md-8 m-auto calculator-form'>
          {{ form.hidden_tag() }}
      

          <p>
              {{ form.query.label }}<br>
              {{ form.query(class="form-control", list='product_names_list', max='20') }}<br>
              <datalist id="product_names_list" name='datalist'>
                  {% for product_name in nutrition_dict.keys() %}
                  
                      <option value='{{product_name}}'></option>
                  {% endfor %}
              </datalist>


          </p>

          <p>{{ form.submit(type="submit", class="btn health-button") }}</p>

          {% if form.validate_on_submit():%}
    
              {% for product_name, product_data in nutrition_dict.items() %}
                      {% if form.query.data == product_name:%}
                          <p class='nutrition-product-data'>
                            Пищевая ценность на 100 грамм продукта <br>
                            Белки:        {{product_data[0]}} г <br>
                            Жиры:         {{product_data[1]}} г <br>
                            Углеводы:     {{product_data[2]}} г <br>
                            Калорийность: {{product_data[3]}} г <br>
                          </p>
                          
                      {% endif %}
              {% endfor %}


          {% endif %}
  </form>

{% endblock %}