{% extends "base.html" %}

{% block content %}


  {%if body_type == 'Эктоморф'%}
      {% set body_type_index = 0 %}
  {%elif body_type == 'Мезоморф'%}
      {% set body_type_index = 1 %}
  {% else %}
      {% set body_type_index = 2 %}
  {% endif %}

  {% set proteins_fats_carbs_list = ['25/20/55', '40/20/40', '45/15/40'] %}


  <h1 class="page-title m-auto">{{title}}</h1>
  <form action="" method="post" class=' calculator-form'>
          {{ form.hidden_tag() }}
          <div class="row justify-content-start">
          <div class="col-md-6">
          <p>
              {{ form.query.label }}<br>
              {{ form.query(class="form-control input", list='product_names_list') }}<br>
              <datalist id="product_names_list" name='datalist'>
                  {% for product_name in nutrition_dict.keys() %}
                  
                      <option value='{{product_name}}'></option>
                  {% endfor %}
              </datalist>


          </p>

          <p>{{ form.submit(type="submit", class="btn health-button m-auto") }}</p>
          </div>
          {% if form.validate_on_submit():%}
          <div class="col-md-6">
              {% for product_name, product_data in nutrition_dict.items() %}
                      {% if form.query.data == product_name:%}
                          <div class="card nutrition-card d-flex justify-content-center">
                                <div class="card-head nutrition-card-head main-card-head"><p>Пищевая ценность</p></div>
                                <p class="text-center">Белки:        {{product_data[0]}} г </p>
                                <p class="text-center">Жиры:         {{product_data[1]}} г </p>
                                <p class="text-center">Углеводы:     {{product_data[2]}} г </p>
                                <p class="text-center">Калорийность: {{product_data[3]}} г </p>
                                                      
                          </div>
                          
                          
                      {% endif %}
              {% endfor %}


          {% endif %}
        </div>
        </div>
  </form>
  <div class="row justify-content-center">
    <div class="col-md-6 m-auto nutriton-video">
      <iframe  src="https://www.youtube.com/embed/HEX9NFXBHyA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
  </div>
  

{% endblock %}