{% extends "base.html" %}

{% block content %}
          <h1>Профиль</h1>
          <form action="" method="post">
        	{{ form.hidden_tag() }}
	
        
	
        	<p>
        	    {{ form.weight.label }}<br>
        	    {{ form.weight(class="form-control", type="number", min='20', max='500')}}<br>
        	    {% for error in form.weight.errors %}
        	        <div class="alert alert-danger" role="alert">
        	            {{ error }}
        	        </div>
        	    {% endfor %}
        	</p>

          <p>
              {{ form.height.label }}<br>
              {{ form.height(class="form-control", type="number", min='60', max='250')}}<br>
              {% for error in form.height.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endfor %}
          </p>

          <p>
              {{ form.age.label }}<br>
              {{ form.age(class="form-control", type="number", min='14', max='130') }}<br>
              {% for error in form.age.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endfor %}
          </p>

          <p>
              {{ form.gender.label }}<br>
              {{ form.gender(class="form-control form-field-gender", type="string") }}<br>
              {% for error in form.gender.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endfor %}
          </p>

          <p>
              {{ form.activity.label }}<br>
              {{ form.activity(class="form-control", type="select") }}<br>
              {% for error in form.activity.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endfor %}
          </p>

          <p>
              {{ form.wrists.label }}<br>
              {{ form.wrists(class="form-control", type="number", max="30", min="10") }}<br>
              {% for error in form.wrists.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endfor %}
          </p>

          <p>
              {{ form.waist.label }}<br>
              {{ form.waist(class="form-control", type="number, min='50', max='100'") }}<br>
              {% for error in form.waist.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endfor %}
          </p>

          <p>
              {{ form.neck.label }}<br>
              {{ form.neck(class="form-control", type="number", min='30', max='50') }}<br>
              {% for error in form.neck.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endfor %}
          </p>

     
  
            <p>
              {{ form.hip.label }}<br>
              {{ form.hip(class="form-control", type="number, min='70', max='130'") }}<br>
              {% for error in form.hip.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endfor %}
          </p>

	
    		
        	<p>{{ form.submit(type="submit", class="btn calculator-btn") }}</p>
	

</form>
        
    

{% endblock %}

