<head>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
{% set list_of_bg = ['body-bg-apples', 'body-bg-avocados', 'body-bg-cabbages', 'body-bg-limes', 'body-bg-salad'] %}


<body class='{{list_of_bg[bg_index]}}'>


<div class="container">
<a href="/" class="strelka"><img src="../static/img/back_arrow.png" height="30px"  title="Вернуться"></a>
<form action="" method="post" class='form'>
    <h1 class="form__title">Регистрация</h1>
    {{ form.hidden_tag() }}


    <div class="form__group">
        {{ form.email(class="form-control form__input", type="email", placeholder=' ') }}<br>
        {% for error in form.email.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
        {% endfor %}
      <label class="form__label">Email</label>
    </div>

    <div class="form__group">
        {{ form.name(class="form-control form__input", placeholder=' ') }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
      <label class="form__label">Имя пользователя</label>
    </div>

    <div class="form__group">
        {{ form.password(class="form-control form__input", type="password" , placeholder=' ') }}<br>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
      <label class="form__label">Пароль</label>
    </div>

    <div class="form__group">
        {{ form.password_again(class="form-control form__input", type="password", placeholder=' ') }}<br>
        {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
      <label class="form__label">Повторите пароль</label>
    </div>

    <div class="block_buttons">
        {{ form.submit(type="submit", class="form__button1") }}

    </div>



</form>
</div>
</body>
