{% extends "calculator_template.html" %}

{% block calculator_content %}

        	{{ form.hidden_tag() }}
	
        
	
        	<p>
        	    {{ form.weight.label }}<br>
        	    {{ form.weight(class="form-control input", type="number", min='20', max='500') }}<br>
        	    {% for error in form.weight.errors %}
        	        <div class="alert alert-danger" role="alert">
        	            {{ error }}
        	        </div>
        	    {% endfor %}
        	</p>

          <p>
              {{ form.gender.label }}<br>
              {{ form.gender(class="form-control form-field-gender input", type="string") }}<br>
              {% for error in form.gender.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endfor %}
          </p>

          <p>
              {{ form.activity.label }}<br>
              {{ form.activity(class="form-control input", type="select") }}<br>
              {% for error in form.activity.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endfor %}
          </p>
	
    		
        	<p>{{ form.submit(type="submit", class="btn calculator-btn") }}</p>
	
       		{% if form.validate_on_submit():%}
<p class="calculator-result">Ваша норма воды равна <strong class="calculator-result-value">{{water_norm}}</strong> литра</p>
       			
       		{% endif %}

        
    

{% endblock %}

